@use "../../styles.scss" as global;
.app-cont {
  .main-section {
    display: flex;
    flex-direction: row;
    .dash-section {
      width: calc(100vw - 220px);
      // height: calc(100vh - 80px);
      // padding: 15px;
      // background: global.$white2;

      .dash-head {
        height: 100px;
        display: flex;
        background-color: #ffffff;
        padding: 15px;
        box-shadow: 0 2px 10px #dbdbdb;
        .logo {
          width: 85px;
          img {
            max-width: 45px;
            margin: 15px 20px 0 20px;
          }
        }
        .academy-details {
          display: flex;
          flex-direction: column;
          padding: 10px 0px;
          h3 {
            font-size: 23px;
            font-weight: 500;
          }
          .tabs {
            ul {
              margin: 0;
              padding: 0;
              display: flex;
              li {
                list-style: none;
                margin: 0 50px 0 5px;
                cursor: pointer;
                font-size: 14px;
                margin-top: 15px;
                font-family: "Manrope-Medium";
                letter-spacing: 0.5px;
                a {
                  color: #939393;
                  border: 0;
                  text-decoration: none;
                }
                &.active {
                  a {
                    color: #0c0c0c;
                    border-bottom: 4px solid #0c0c0c;
                    font-weight: 600;
                  }
                }
              }
            }
          }
        }
      }
      .dash-body {
        height: calc(100vh - 100px);
        background-color: global.$lightGray;
      }
    }
  }
}
